// "off" or 0 - turn the rule off
// "warn" or 1 - turn the rule on as a warning (doesn’t affect exit code)
// "error" or 2 - turn the rule on as an error (exit code is 1 when triggered)

{
  "parserOptions": {
    "ecmaVersion": 5
  },
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "jquery": true,
    "node": true
  },
  "globals": {
    "nwt": true,
    "require": true,
    "Modernizr": true,
    "WOW": true,
    "__dirname": true,
    "module": true
  },
  "rules": {
    "indent": ["error", 2],
    "curly": [
      "error",
      "all"
    ],
    "strict": [
      "warn",
      "global"
    ],
    "no-console": "warn",
    "keyword-spacing": [
      "error",
      {}
    ],
    "no-param-reassign": "error",
    "one-var": [
      "error",
      {
        "var": "always",
        "let": "never",
        "const": "never"
      }
    ],
    "wrap-iife": [
      "error",
      "inside"
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "ignore"
      }
    ],
    "array-bracket-spacing": [
      "error",
      "never",
      {}
    ],
    "space-in-parens": [
      "error",
      "never"
    ],
    "key-spacing": [
      "error",
      {
        "beforeColon": false,
        "afterColon": true
      }
    ],
    "comma-style": [
      "error",
      "last"
    ],
    "comma-dangle": [
      "off",
      "never"
    ],
    "space-unary-ops": [
      "error",
      {
        "words": false,
        "nonwords": false
      }
    ],
    "space-infix-ops": "error",
    "camelcase": [
      "error",
      {
        "properties": "never"
      }
    ],
    "no-with": "error",
    "no-undef": "error",
    "no-multiple-empty-lines": "error",
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      1,
      "single",
      {
        "avoidEscape": true
      }
    ],
    "no-mixed-spaces-and-tabs": "error",
    "no-trailing-spaces": "error",
    "brace-style": [
      "error",
      "1tbs",
      {
        "allowSingleLine": true
      }
    ],
    "yoda": [
      "error",
      "never"
    ],
    "semi": [
      "error",
      "always"
    ]
  }
}