/* Wireframebox */

.neos-mockup-placeholder {
	background-color: #DDD;
	height: 500px;
	position: relative;
	background-size: 100% 100%;
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3Cg%20stroke-width%3D%222px%22%20stroke%3D%22#bbbbbb%22%20vector-effect%3D%22non-scaling-stroke%22%3E%3Cline%20x1%3D%220%22%20y1%3D%220%22%20x2%3D%221%22%20y2%3D%221%22%20vector-effect%3D%22non-scaling-stroke%22%2F%3E%3Cline%20x1%3D%221%22%20y1%3D%220%22%20x2%3D%220%22%20y2%3D%221%22%20vector-effect%3D%22non-scaling-stroke%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
	/* <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1" preserveAspectRatio="none"><g stroke-width="2px" stroke="#bbbbbb" vector-effect="non-scaling-stroke"><line x1="0" y1="0" x2="1" y2="1" vector-effect="non-scaling-stroke"/><line x1="1" y1="0" x2="0" y2="1" vector-effect="non-scaling-stroke"/></g></svg> */

	span {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: block;
		border-radius: 4px;
		padding: 10px;
		background-color: #DDD;
		color: #777;
		text-align: center;
		text-transform: uppercase;
		border: 2px dashed #BBB;
	}
}
