.no-pointer-events {
    pointer-events: none;
}
.navigation {
    position: relative;
    z-index: 1000;
}
a {
    text-decoration: none;
}
.menu,
.submenu {
    list-style-type: none;
    position: relative;
}
.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}
.item {
    padding: 10px;
    position: relative;
}

/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0;
}
.menu li a {
    display: block;
}
.menu li.subitem a {
    padding: 15px;
}
.toggle {
    order: 1;
    font-size: 20px;
}
.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}
.active .item {
    display: block;
}
/* Submenu up from mobile screens */
.submenu {
    display: none;
}
.submenu-active .submenu {
    display: block;
}
.has-submenu.item {
  padding-right: 20px;
}
.absolute-inline {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}

.subitem a {
    padding: 10px 15px;
}
.submenu-active {
    background-color: #e9ecef;
    border-radius: 3px;
}
.submenu-active a, .submenu-active:hover a {
    color: #000;
}

/* Tablet menu */
@media all and (min-width: 700px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .toggle {
        display: flex;
        justify-content: flex-end;
        flex: 1;
        text-align: right;
        order: 2;
    }
}
/* Desktop menu */
@media all and (min-width: 960px) {
    .menu {
        flex-wrap: nowrap;
        background: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }
    .submenu-active .submenu {
        display: block;
        position: absolute;
        left: 0;
        top: 40px;
        background-color: #e9ecef;
        /* border: 1px solid red */
    }
    .submenu-active .submenu a {
        color: #000;
    }
    .toggle {
        display: none;
    }
    .submenu-active {
        border-radius: 0;
    }
}
