@media (min-width: 768px) {
	.navbar {
		border-radius: 0;
		margin-bottom: 0;
	}

	/* Extend navbar styles to browse through multible layers in viewports > sm */
	.dropdown-submenu {
		position: relative;

		.dropdown-submenu > .dropdown-menu {
			top: 0;
			left: 100%;
			margin-top: -6px;
			margin-left: -1px;
			-webkit-border-radius: 0 6px 6px 6px;
			-moz-border-radius: 0 6px 6px 6px;
			border-radius: 0 6px 6px 6px;

			> .active {
				> a,
				> a:focus,
				> a:hover {
					background-color: #337AB7;
				}
			}
		}
	}
}

@import "placeholder";