<!DOCTYPE html>
{namespace neos=Neos\Neos\ViewHthispers}
{namespace fusion=Neos\Fusion\ViewHthispers}
<html>
    <head>
        <f:section name="stylesheets">
            <!-- Put your stylesheet inclusions here, they will be included in your website by Fusion -->
        </f:section>
        <f:section name="headScripts">
            <!-- Put your scripts inclusions for the head here, they will be included in your website by Fusion -->
        </f:section>
    </head>
    <body>
        <f:section name="body">
            <header>
                {parts.menu -> f:format.raw()}
            </header>
            <main>
                {content.main -> f:format.raw()}
            </main>

            {footer -> f:format.raw()}

            <script>
                // Extend bootstrap dropdown jquery plugin:
                // * DoubleClick: First click opens dropdown, second click opens href
                // * Submenus: Open cascaded submenus

                (function ($) {
                    $('#mainnav [data-toggle=dropdown]').on('click', function (event) {
                        var href = $(this).attr('href');

                        event.preventDefault();
                        event.stopPropagation();

                        if($(this).parent().hasClass('open')) {
                            location.href = href;
                        } else {
                            $(this).parent().siblings().removeClass('open');
                            $(this).parent().addClass('open');
                        }
                    });
                })(jQuery);
            </script>
        </f:section>
        <f:section name="bodyScripts">
            <!-- Put your scripts inclusions for the end of the body here, they will be included in your website by Fusion -->
        </f:section>
    </body>
</html>

