<!DOCTYPE html>
{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
<html>
    <head>
        <f:section name="stylesheets">
            <!-- Put your stylesheet inclusions here, they will be included in your website by Fusion -->
        </f:section>
        <f:section name="headScripts">
            <!-- Put your scripts inclusions for the head here, they will be included in your website by Fusion -->
        </f:section>
    </head>
    <body>
        <f:section name="body">

            <header>
                {parts.menu -> f:format.raw()}
            </header>
            <main>
                {content.main -> f:format.raw()}
            </main>
            <script>
                (function ($) {
                    $(document).ready(function () {
                        $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
                            event.preventDefault();
                            event.stopPropagation();
                            $(this).parent().siblings().removeClass('open');
                            $(this).parent().toggleClass('open');
                        });
                    });
                })(jQuery);
            </script>
        </f:section>
        <f:section name="bodyScripts">
            <!-- Put your scripts inclusions for the end of the body here, they will be included in your website by Fusion -->
        </f:section>
    </body>
</html>

